@import url(loader.css);
@import url(checkout.css);
html, body {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 300;
}

li {
  list-style: none;
}

p, label {
  word-wrap: break-word;
  hyphens: auto;
}

a {
  word-wrap: break-word;
}

label {
  font-weight: normal;
}

a {
  cursor: pointer !important;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.btn-principal {
  background-color: #8e7147 !important;
  color: #fff !important;
}

.btn-principal:hover {
  background-color: #7d6036 !important;
}

.btn-secundario {
  background-color: #999;
  color: #fff !important;
}

.btn-secundario:hover {
  background-color: #888;
}

.activeHeader a {
  color: #fff !important;
  background-color: #8e7147 !important;
}

.verde {
  color: green;
}

.laranja {
  color: orange;
}

.vermelho {
  color: red;
}

.margin-form {
  margin-bottom: 15px !important;
}

.form-control.ng-invalid.ng-touched {
  border: solid 2px red;
}

.centraliza {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.box-img {
  overflow: hidden;
  width: 100%;
  height: 200px;
  position: relative;
}

.box-img img {
  width: 100%;
}

.icon-container {
  position: relative;
  min-height: 1px;
  float: left;
  width: 30px;
  font-size: 26px;
}

.icon-container i {
  position: absolute;
  top: 0;
  right: 0;
}

.contato-container {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  float: left;
  width: calc(100% - 30px);
}

.contato-container p, .contato-container a {
  color: #fff;
  font-size: 14px;
}

.fa-phone {
  transform: rotate(130deg);
}

.subtitle {
  color: #222;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  position: relative;
}

.subtitle:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  width: 80px;
  border-left: 5px solid #222;
  border-right: 5px solid #222;
  border-top: 5px solid #222;
}

.subtitle.left {
  text-align: left;
}

.subtitle.left:before {
  left: 0;
  transform: translate(0);
  -ms-transform: translate(0);
}

slick {
  position: relative;
  margin-bottom: -7px;
}

slick .slick-arrow,
slick .carousel-control {
  z-index: 10;
  position: absolute;
  top: 0;
  font-size: 40px !important;
  width: 10%;
  height: calc(100% - 5px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e7147 !important;
}

slick .slick-arrow.left,
slick .carousel-control.left {
  left: 0;
}

slick .slick-arrow.right,
slick .carousel-control.right {
  right: 0;
}

.modal-content {
  border-radius: 0;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.pagination li a {
  color: #000;
  border-radius: 100%;
  background: none;
  border: none;
}

.pagination li:hover a {
  color: #000;
}

.pagination li.active a {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff;
}

.pagination li.disabled a {
  background: none !important;
  border: none !important;
}

.multi-column {
  column-count: 2;
  column-gap: 10px;
}

.multi-column-3 {
  column-count: 3;
  column-gap: 10px;
}

#retorno.ng-enter {
  opacity: 0;
  transition: 0.2s;
}

#retorno.ng-enter-active {
  opacity: 1;
}

#retorno.ng-leave {
  opacity: 1;
  transition: 0.2s;
}

#retorno.ng-leave-active {
  opacity: 0;
}

.title-line {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-line .title {
  white-space: nowrap;
  margin-right: 30px;
}

.title-line .line {
  border-bottom: 1px solid #272727;
  width: 100%;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .form-h {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .form-h label {
    white-space: nowrap;
    margin: 6px 15px 0 0;
  }
}

.tab-animation > .tab-content {
  position: relative;
}

.tab-animation > .tab-content > .tab-pane {
  transition: 0.1s linear opacity;
}

.tab-animation > .tab-content > .tab-pane.active-remove {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
}

.tab-animation > .tab-content > .tab-pane.active-remove-active {
  opacity: 0;
}

.tab-animation > .tab-content > .tab-pane.active-add {
  opacity: 0;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  -webkit-animation: zoomOut 0.5s;
  animation: zoomOut 0.5s;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  -webkit-animation: zoomIn 0.5s;
  animation: zoomIn 0.5s;
}

.form-control {
  border-radius: 5px;
  border: none;
  box-shadow: none;
  resize: none;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 767px) {
  .dropdown:hover .dropdown-menu {
    display: block !important;
  }
}

.header {
  margin: 0;
  border: none;
  background-color: rgba(31, 30, 29, 0.8);
  transition: 0.4s;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header img {
  width: 100%;
  transition: 0.4s;
}

.header.solid {
  background-color: #1f1e1d;
  transition: 0.4s;
}

.header.solid img {
  width: calc(100% - 40px);
  transition: 0.4s;
}

.header .navbar-nav .nav-item {
  margin-right: 15px;
}

.header .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.header .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 5px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .header .navbar-nav .nav-item .nav-link.active:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    -ms-transform: translate(-50%);
    width: 100%;
    border-left: 3px solid #8e7147;
    border-right: 3px solid #8e7147;
    border-top: 3px solid #8e7147;
  }
}

.banner img {
  width: 100%;
}

.sobre {
  background-color: #2d2d2d;
}

.sobre h1 {
  font-size: 38px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.sobre h3 {
  font-size: 22px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.sobre h4 {
  color: #8e7147;
  font-size: 18px;
  text-transform: uppercase;
}

.sobre p {
  font-size: 16px !important;
  color: #fff !important;
  text-align: justify !important;
}

.sobre .vantagens p {
  font-size: 14px !important;
  color: #8c8c8c !important;
}

.pagamento {
  background-color: #353535;
}

.pagamento h1 {
  font-size: 38px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.pagamento h4 {
  color: #8e7147;
  font-size: 18px;
  text-transform: uppercase;
}

.pagamento .formas img {
  display: block;
  margin: 0 auto 20px auto;
}

.pagamento .formas p {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

.mdf {
  background-color: #171717;
}

.mdf h1 {
  font-size: 38px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.mdf h4 {
  color: #8e7147;
  font-size: 18px;
  text-transform: uppercase;
}

.mdf p {
  font-size: 16px !important;
  color: #fff !important;
  text-align: justify !important;
}

.mdf iframe {
  width: 100%;
  height: 300px;
}

.nosso-trabalho {
  background-color: #353535;
  padding-top: 50px;
}

.nosso-trabalho h1 {
  font-size: 38px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.nosso-trabalho h4 {
  color: #8e7147;
  font-size: 18px;
  text-transform: uppercase;
}

.nosso-trabalho p {
  font-size: 16px !important;
  color: #fff !important;
  text-align: justify !important;
}

.nosso-trabalho iframe {
  width: 100%;
  height: 300px;
}

.nosso-trabalho .detalhes .fechar {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 34px;
}

.nosso-trabalho .detalhes h3 {
  margin-top: 0;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.nosso-trabalho .detalhes slick img {
  width: 100%;
}

.nosso-trabalho .center-list {
  text-align: center;
}

.nosso-trabalho .center-list .lista-categorias {
  display: relative;
  width: 100%;
}

.nosso-trabalho .center-list .lista-categorias li {
  margin-right: 50px;
  line-height: 3;
}

.nosso-trabalho .center-list .lista-categorias li:last-child {
  margin-right: 0;
}

.nosso-trabalho .center-list .lista-categorias li a {
  color: #fff;
  text-transform: uppercase;
}

.nosso-trabalho .center-list .lista-categorias li a:hover {
  color: #8e7147;
  text-decoration: none;
}

.nosso-trabalho .center-list .lista-categorias li a.li-active {
  color: #8e7147;
}

.nosso-trabalho .fotos .container-fluid .col-12,
.nosso-trabalho .fotos .container-fluid .col-xs-6,
.nosso-trabalho .fotos .container-fluid .col-sm-4,
.nosso-trabalho .fotos .container-fluid .col-md-3 {
  padding: 0;
}

.nosso-trabalho .fotos .container-fluid .box {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.nosso-trabalho .fotos .container-fluid .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 16px;
  opacity: 0;
  transition: 0.3s;
}

.nosso-trabalho .fotos .container-fluid .box:hover .box-name {
  left: 10px;
  transition: 0.5s;
}

.nosso-trabalho .fotos .container-fluid .box:hover .overlay {
  opacity: 1;
  transition: 0.3s;
}

.nosso-trabalho .fotos .container-fluid .box:hover .overlay .plus-symbol {
  position: relative;
  width: 30px;
  height: 30px;
  /* Vertical line */
  /* horizontal line */
}

.nosso-trabalho .fotos .container-fluid .box:hover .overlay .plus-symbol:before, .nosso-trabalho .fotos .container-fluid .box:hover .overlay .plus-symbol:after {
  content: "";
  position: absolute;
  background-color: white;
}

.nosso-trabalho .fotos .container-fluid .box:hover .overlay .plus-symbol:before {
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  margin-left: 0;
}

.nosso-trabalho .fotos .container-fluid .box:hover .overlay .plus-symbol:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  margin-top: 0;
}

.nosso-trabalho .fotos .container-fluid .box .box-name {
  position: absolute;
  top: 10px;
  left: -100px;
  padding: 5px 10px;
  border: solid 1px #aaa;
  color: #8e7147;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.5s;
}

.solicitar {
  background-color: #252525;
}

.solicitar h1 {
  font-size: 38px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.solicitar .btn {
  display: block;
  margin: 0 auto;
  width: 180px;
  text-transform: uppercase;
}

.servicos {
  background-color: #353535;
}

.servicos h1 {
  font-size: 38px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.servicos h4 {
  color: #8e7147;
  font-size: 18px;
  text-transform: uppercase;
}

.servicos .box {
  background-color: #2d2d2d;
  padding: 5px 15px;
}

.servicos .box h3 {
  font-size: 21px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.servicos .box p {
  font-size: 14px !important;
  color: #fff !important;
  text-align: justify !important;
}

.marcas {
  background-color: #181818;
  padding-top: 25px;
  padding-bottom: 25px;
}

.marcas .box {
  cursor: pointer;
}

.marcas .box img {
  margin: 0 auto;
  display: block;
  transition: 0.3s;
}

.marcas .box:hover img {
  opacity: 0.6;
  transition: 0.3s;
}

.contato {
  background-color: #353535 !important;
}

.contato h1 {
  font-size: 38px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.contato h5 {
  margin: 0;
  color: #fff;
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
}

.contato p {
  font-size: 14px;
}

.contato a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.contato a:hover {
  color: #aaa;
  transition: 0.3s;
}

.contato .box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 10px;
}

.contato .box .contatos i {
  color: #fff;
  font-size: 24px;
}

.contato .box .contatos i.fa-whatsapp {
  font-size: 28px;
}

.contato .box label {
  color: #fff;
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
}

.contato .box .form-control {
  border-radius: 1px;
  background-color: transparent;
  border: solid 1px #909090;
  color: #fff;
}

.contato .box .abrir {
  font-size: 16px;
  color: #8e7147;
  text-transform: uppercase;
  transition: 0.3s;
}

.contato .box .abrir i {
  margin-left: 10px;
}

.contato .box .abrir:hover {
  color: #aaa;
  transition: 0.3s;
}

.contato .box iframe {
  width: 100%;
  height: 300px;
}

footer {
  background-color: #000;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer .col-md-4 {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: #8e7147;
  transition: 0.3s;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none !important;
}

footer a i {
  margin-right: 10px;
}

footer a:hover {
  color: #aaa;
  transition: 0.3s;
}

footer img {
  width: 150px;
}

footer .copyright a {
  text-transform: none;
  color: #fff;
}

footer .copyright a b {
  font-size: 16px;
  font-weight: 700;
}

footer .copyright a:hover b {
  color: orange;
}
