@import 'loader.css';
@import 'checkout.css';

// Variáveis
$roboto: Roboto, sans-serif;
$header-color: rgba(31, 30, 29, 0.8);
$primary-color: #353535;
$secondary-color: #8e7147;
$terciary-color: #2d2d2d;
$btn-color: #8e7147;
$btn-color-hover: #7d6036;
$google: #dd4b39;
$linkedin: #0077b5;
$twitter: #1da1f2;
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$black: 900;


// Presets
html, body {
    width: 100%;
    height: 100%;
    font-family: $roboto;
    font-weight: $light;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: $light;
}

li {
    list-style: none;
}

p, label {
    word-wrap: break-word;
    hyphens: auto;
}

a {
    word-wrap: break-word;
}

label {
    font-weight: normal;
}

a {
    cursor: pointer !important;
}

.mt-15 {margin-top: 15px;}
.mt-30 {margin-top: 30px;}
.mt-50 {margin-top: 50px;}

.mb-15 {margin-bottom: 15px;}
.mb-30 {margin-bottom: 30px;}
.mb-50 {margin-bottom: 50px;}

.btn-principal {
    background-color: $btn-color !important;
    color: #fff !important;
    
    &:hover {
        background-color: $btn-color-hover !important;
    }
}

.btn-secundario {
    background-color: #999;
    color: #fff !important;
    
    &:hover {
        background-color: #888;
    }
}

.activeHeader {
    a {
        color: #fff !important;
        background-color: $secondary-color !important;
    }
}

.verde {color: green;}
.laranja {color: orange;}
.vermelho {color: red;}

.margin-form {
    margin-bottom: 15px !important;
}

.form-control.ng-invalid.ng-touched {
    border: solid 2px red;
}

.centraliza {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.box-img {
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: relative;
    
    img {
        width: 100%;
    }
}

.icon-container {
    position: relative;
    min-height: 1px;
    float: left;
    width: 30px;
    font-size: 26px;
    
    i {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.contato-container {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    float: left;
    width: calc(100% - 30px);
    
    p, a {
        color: #fff;
        font-size: 14px;
    }
}

.fa-phone {
    transform: rotate(130deg);
}

.subtitle {
    color: #222;
    font-weight: $bold;
    font-size: 24px;
    text-align: center;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -15px;
        transform: translate(-50%);
        -ms-transform: translate(-50%);
        width: 80px;

        border-left: 5px solid #222;
        border-right: 5px solid #222;
        border-top: 5px solid #222;
    }

    &.left {
        text-align: left;

        &:before {
            left: 0;
            transform: translate(0);
            -ms-transform: translate(0);
        }
    }
}

slick {
    position: relative;
    margin-bottom: -6px;
    
    .slick-arrow,
    .carousel-control {
        z-index: 10;
        position: absolute;
        top: 0;
        font-size: 40px !important;
        width: 10%;
        height: calc(100% - 5px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary-color !important;

        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
    }
}

.modal-content {
    border-radius: 0;
}


// Centraliza modal
.modal {
    text-align: center;
    padding: 0!important;
}
    
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
    
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.pagination li a {
    color: #000;
    border-radius: 100%;
    background: none;
    border: none;
}
.pagination li:hover a{
    color: #000;
}

.pagination li.active a {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff;
}
.pagination li.disabled a {
    background: none !important;
    border: none !important;
}

.multi-column {
    column-count: 2;
    column-gap: 10px;
}
.multi-column-3 {
    column-count: 3;
    column-gap: 10px;
}


#retorno {
    &.ng-enter {
        opacity: 0;
        transition: 0.2s;
    }
    &.ng-enter-active {
        opacity: 1;
    }

    &.ng-leave {
        opacity: 1;
        transition: 0.2s;
    }
    &.ng-leave-active {
        opacity: 0;
    }
}

// Title with line
.title-line {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .title {
        white-space: nowrap;
        margin-right: 30px;
    }

    .line {
        border-bottom: 1px solid #272727;
        width: 100%;
        margin: 0;
    }
}

// Form horizontal
@media only screen and (min-width: 768px) {
    .form-h {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    
        label {
            white-space: nowrap;
            margin: 6px 15px 0 0;
        }
    }
}

.tab-animation {
    > .tab-content {
        position: relative;

        > .tab-pane {
            transition: 0.1s linear opacity;

            &.active-remove {
                position: absolute;
                top: 0;
                width: 100%;
                display: block;
            }

            &.active-remove-active {
                opacity: 0;
            }

            &.active-add {
                opacity: 0;
            }
        }
    }
}

// Animate
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear 0.5s;
}
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
}
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
}

.form-control {
    border-radius: 5px;
    border: none;
    box-shadow: none;
    resize: none;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

// Dropdown hover
@media only screen and (min-width: 767px) {    
    .dropdown:hover .dropdown-menu {
        display: block !important;
    }
}


//////////////////////////////////////////////////////////// 


// Header
.header {
    margin: 0;
    border: none;
    background-color: $header-color;
    transition: 0.4s;
    padding-top: 15px;
    padding-bottom: 15px;

    img {
        width: 100%;
        transition: 0.4s;
    }

    &.solid {
        background-color: rgba(31, 30, 29, 1);
        transition: 0.4s;

        img {
            width: calc(100% - 40px);
            transition: 0.4s;
        }
    }

    .navbar-nav {
        .nav-item {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }

            .nav-link {
                color: #fff;
                padding: 5px;
                position: relative;

                @media only screen and (min-width: 768px) {
                    &.active {
                        &:before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            transform: translate(-50%);
                            -ms-transform: translate(-50%);
                            width: 100%;
    
                            border-left: 3px solid $secondary-color;
                            border-right: 3px solid $secondary-color;
                            border-top: 3px solid $secondary-color;
                        }
                    }
                }
            }
        }
    }
}


// Banner
.banner {
    img {
        width: 100%;
    }
}


// Sobre
.sobre {
    background-color: $terciary-color;
    
    h1 {
        font-size: 38px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 0;
    }

    h3 {
        font-size: 22px;
        color: #fff;
        font-weight: $black;
        text-transform: uppercase;
    }

    h4 {
        color: $secondary-color;
        font-size: 18px;
        text-transform: uppercase;
    }

    p {
        font-size: 16px !important;
        color: #fff !important;
        text-align: justify !important;
    }

    .vantagens {
        p {
            font-size: 14px !important;
            color: #8c8c8c !important;
        }
    }
}

// Formas de pagamento
.pagamento {
    background-color: #353535;
    
    h1 {
        font-size: 38px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 0;
    }

    h4 {
        color: $secondary-color;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .formas {
        img {
            display: block;
            margin: 0 auto 20px auto;
        }

        p {
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
        }
    }
}

// O MDF
.mdf {
    background-color: #171717;
    
    h1 {
        font-size: 38px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 0;
    }

    h4 {
        color: $secondary-color;
        font-size: 18px;
        text-transform: uppercase;
    }

    p {
        font-size: 16px !important;
        color: #fff !important;
        text-align: justify !important;
    }

    iframe {
        width: 100%;
        height: 300px;
    }
}

// Nosso Trabalho
.nosso-trabalho {
    background-color: #353535;
    padding-top: 50px;
    
    h1 {
        font-size: 38px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 0;
    }

    h4 {
        color: $secondary-color;
        font-size: 18px;
        text-transform: uppercase;
    }

    p {
        font-size: 16px !important;
        color: #fff !important;
        text-align: justify !important;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .detalhes {
        .fechar {
            display: block;
            text-align: center;
            color: #fff;
            font-size: 34px;
        }

        h3 {
            margin-top: 0;
            color: #fff;
            font-weight: $bold;
            font-size: 22px;
            text-transform: uppercase;
        }

        slick {
            img {
                width: 100%;
            }
        }
    }

    .center-list {
        text-align: center;

        .lista-categorias {
            display: relative;
            width: 100%;

            li {
                margin-right: 50px;
                line-height: 3;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: #fff;
                    text-transform: uppercase;

                    &:hover {
                        color: $secondary-color;
                        text-decoration: none;
                    }

                    &.li-active {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .fotos {
        .container-fluid {
            .col-12,
            .col-xs-6,
            .col-sm-4,
            .col-md-3 {
                padding: 0;
            }

            .box {
                position: relative;
                cursor: pointer;
                overflow: hidden;

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.6);
                    color: #fff;
                    font-size: 16px;
                    opacity: 0;
                    transition: 0.3s;
                }

                &:hover {
                    .box-name {
                        left: 10px;
                        transition: 0.5s;
                    }

                    .overlay {
                        opacity: 1;
                        transition: 0.3s;

                        .plus-symbol{
                            position: relative;
                            width: 30px;
                            height: 30px;
                        
                            &:before,
                            &:after{
                                content: "";
                                position: absolute;
                                background-color: white;
                            }
                        
                            /* Vertical line */
                            &:before{
                                top: 0;
                                left: 50%;
                                width: 1px;
                                height: 100%;
                                margin-left: 0;
                            }
                        
                            /* horizontal line */
                            &:after{
                                top: 50%;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                margin-top: 0;
                            }
                        }
                    }
                }

                .box-name {
                    position: absolute;
                    top: 10px; left: -100px;
                    padding: 5px 10px;
                    border: solid 1px #aaa;
                    color: $secondary-color;
                    text-transform: uppercase;
                    font-size: 14px;
                    transition: 0.5s;
                }
            }
        }
    }
}

// Solicitar orçamento
.solicitar {
    background-color: #252525;
    
    h1 {
        font-size: 38px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 0;
    }

    .btn {
        display: block;
        margin: 0 auto;
        width: 180px;
        text-transform: uppercase;
    }
}

// Serviços
.servicos {
    background-color: $primary-color;

    h1 {
        font-size: 38px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 0;
    }

    h4 {
        color: $secondary-color;
        font-size: 18px;
        text-transform: uppercase;
    }

    .box {
        background-color: #2d2d2d;
        padding: 5px 15px;
        
        h3 {
            font-size: 21px;
            color: #fff;
            font-weight: $black;
            text-transform: uppercase;
        }

        p {
            font-size: 14px !important;
            color :#fff !important;
            text-align: justify !important;
        }
    }
}

// Marcas
.marcas {
    background-color: #181818;
    padding-top: 25px;
    padding-bottom: 25px;

    .box {
        cursor: pointer;

        img {
            margin: 0 auto;
            display: block;
            transition: 0.3s;
        }

        &:hover {
            img {
                opacity: 0.6;
                transition: 0.3s;
            }
        }
    }
}

// Contato
.contato {
    background-color: $primary-color !important;

    h1 {
        font-size: 38px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 0;
    }

    h5 {
        margin: 0;
        color: #fff;
        font-weight: $black;
        font-size: 15px;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
    }

    a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            color: #aaa;
            transition: 0.3s;
        }
    }

    .box {
        background-color: rgba(0,0,0,0.7);
        padding: 20px 10px;

        .contatos {
            i {
                color: #fff;
                font-size: 24px;

                &.fa-whatsapp {
                    font-size: 28px;
                }
            }
        }

        label {
            color: #fff;
            font-weight: $black;
            font-size: 15px;
            text-transform: uppercase;
        }

        .form-control {
            border-radius: 1px;
            background-color: transparent;
            border: solid 1px #909090;
            color: #fff;
        }

        .abrir {
            font-size: 16px;
            color: $secondary-color;
            text-transform: uppercase;
            transition: 0.3s;

            i {
                margin-left: 10px;
            }

            &:hover {
                color: #aaa;
                transition: 0.3s;
            }
        }

        iframe {
            width: 100%;
            height: 300px;
        }
    }
}


// Footer
footer {
    background-color: #000;
    padding-top: 25px;
    padding-bottom: 25px;

    .col-md-4 {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        color: $secondary-color;
        transition: 0.3s;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none !important;

        i {
            margin-right: 10px;
        }

        &:hover {
            color: #aaa;
            transition: 0.3s;
        }
    }

    img {
        width: 150px;
    }

    .copyright {
        a {
            text-transform: none;
            color: #fff;

            b {
                font-size: 16px;
                font-weight: $bold;
            }

            &:hover {
                b {
                    color: orange;
                }
            }
        }
    }
}