<!-- Banners -->
<div id="inicio" ng-include="'views/includes/banner.html'"></div>

<div class="home">
    <section id="sobre" class="sobre content">
        <div class="container">
            <div ng-repeat="x in vm.conteudo | filter:{'valSecao': 1} | limitTo: 1">
                <h1 class="text-center">{{:: x.titulo}}</h1>
                <h4 class="text-center">{{:: x.subtitulo}}</h4>
                <div ng-bind-html=":: x.conteudo" class="mt-50 mb-50"></div>

                <slick infinite=true slides-to-show=1 slides-to-scroll=1 autoplay=true speed=700 arrows=true init-onload=false data="vm.loadSobreImgs" ng-if="vm.loadSobreImgs">
                    <div class="item" ng-repeat="i in x.imagens">
                        <a href=""><img ng-src="{{i.imagem}}" class="img-fluid mx-auto"></a>
                    </div>
                </slick>
            </div>

            <div class="vantagens mt-50">
                <div class="row">
                    <div class="col-md-4" ng-repeat="x in vm.conteudo | filter:{'valSecao': 2} | limitTo: 3">
                        <h3>{{:: x.titulo}}</h3>
                        <div ng-bind-html=":: x.conteudo"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pagamento content">
        <div class="container">
            <div ng-repeat="x in vm.conteudo | filter:{'valSecao': 3} | limitTo: 1">
                <h1 class="text-center">{{:: x.titulo}}</h1>
                <h4 class="text-center">{{:: x.subtitulo}}</h4>
            </div>

            <div class="formas mt-50">
                <div class="row">
                    <div class="col-6 col-md-2 mb-xs-15">
                        <img src="img/visa.png" class="img-fluid">
                        <p class="text-center">Visa</p>
                    </div>
                    <div class="col-6 col-md-2 mb-xs-15">
                        <img src="img/mastercard.png" class="img-fluid">
                        <p class="text-center">Mastercard</p>
                    </div>
                    <div class="col-6 col-md-2 mb-xs-15">
                        <img src="img/elo.png" class="img-fluid">
                        <p class="text-center">Elo</p>
                    </div>
                    <div class="col-6 col-md-2 mb-xs-15">
                        <img src="img/hipercard.png" class="img-fluid">
                        <p class="text-center">Hipercard</p>
                    </div>
                    <div class="col-6 col-md-2 mb-xs-15">
                        <img src="img/cheque.png" class="img-fluid">
                        <p class="text-center">Cheque</p>
                    </div>
                    <div class="col-6 col-md-2 mb-xs-15">
                        <img src="img/boleto.png" class="img-fluid">
                        <p class="text-center">Boleto</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdf content">
        <div class="container">
            <div ng-repeat="x in vm.conteudo | filter:{'valSecao': 4} | limitTo: 1">
                <h1 class="text-center">{{:: x.titulo}}</h1>
                <h4 class="text-center">{{:: x.subtitulo}}</h4>
    
                <div class="row mt-50">
                    <div class="col-md-5">
                        <div ng-bind-html=":: x.conteudo"></div>
                    </div>
                    <div class="col-md-7">
                        <iframe src="https://www.youtube.com/embed/FOmaQSoPVDk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="trabalhos" class="nosso-trabalho">
        <div class="container">
            <div ng-repeat="x in vm.conteudo | filter:{'valSecao': 5} | limitTo: 1">
                <h1 class="text-center">{{:: x.titulo}}</h1>
                <h4 class="text-center">{{:: x.subtitulo}}</h4>

                <div class="detalhes content" uib-collapse="vm.collapsed.details">
                    <div class="mb-15">
                        <a href="" class="fechar" ng-click="vm.collapsed.details = true"><i class="fas fa-times"></i></a>
                    </div>
                    <h1 class="text-center">{{vm.detalhes.nome}}</h1>
                    <div class="row mb-30 mt-50">
                        <div class="col-md-6 mb-xs-15">
                            <img ng-src="{{vm.detalhes.foto}}" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12 mb-15">
                                    <h3>Materiais</h3>
                                    <p>{{vm.detalhes.materiais}}</p>
                                </div>
                                <div class="col-12 mb-15">
                                    <h3>Tecnologias</h3>
                                    <p>{{vm.detalhes.tecnologias}}</p>
                                </div>
                                <div class="col-12 mb-15">
                                    <h3>Acessórios</h3>
                                    <p>{{vm.detalhes.acessorios}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <slick infinite=true slides-to-show=1 slides-to-scroll=1 autoplay=true speed=700 arrows=true init-onload=false data="vm.loadDetalhesImgs" ng-if="vm.loadDetalhesImgs">
                                <div class="item" ng-repeat="f in vm.detalhes.fotos">
                                    <a href=""><img ng-src="{{f.foto}}" class="img-fluid mx-auto"></a>
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
    
                <div class="center-list mt-50">
                    <ul class="list-unstyled list-inline lista-categorias">
                        <li class="list-inline-item">
                            <a href="" ng-click="vm.filtrarCategoria()" ng-class="{'li-active': !vm.idCat}">Todas as categorias</a>
                        </li>
                        <li class="list-inline-item" ng-repeat="x in vm.categorias">
                            <a href="" ng-click="vm.filtrarCategoria(x.idCategoria)" ng-class="{'li-active': vm.idCat === x.idCategoria}">{{x.categoria}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fotos">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-xs-6 col-sm-4 col-md-3 animate-repeat" ng-repeat="x in vm.listaTrabalhos = (vm.trabalhos | filter: q | filter:{'idCategoria': vm.idCat})">
                        <div class="box" ng-click="vm.getDetails(x)">
                            <img ng-src="{{:: x.foto}}" class="img-fluid">
                            <div class="overlay centraliza">
                                <div class="box-name">{{:: x.nome}}</div>
                                <div class="plus-symbol"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="solicitar content">
        <div class="container">
            <h1 class="text-center">Deseja solicitar um orçamento?</h1>
            <button type="button" class="btn btn-principal btn-block-xs" ng-click="vm.goToBudget()">Clique aqui</button>
        </div>
    </section>

    <section id="servicos" class="servicos content">
        <div class="container">
            <div ng-repeat="x in vm.conteudo | filter:{'valSecao': 6} | limitTo: 1">
                <h1 class="text-center">{{:: x.titulo}}</h1>
                <h4 class="text-center">{{:: x.subtitulo}}</h4>
            </div>

            <div class="row mt-50">
                <div class="col-md-6 mb-50" ng-repeat="x in vm.conteudo | filter:{'valSecao': 7}">
                    <div class="box">
                        <h3>{{:: x.titulo}}</h3>
                        <div ng-bind-html=":: x.conteudo"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="marcas">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-2" ng-repeat="x in vm.marcas">
                    <div class="box">
                        <img ng-src="{{:: x.imagem}}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section id="contato" class="contato content" ng-parallax pattern="'img/bg-contact.png'" speed="0" reverse="false">
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form ng-submit="vm.enviar(vm.dados)">
                            <h1 class="text-center">Fale com a nossa equipe</h1>

                            <div class="row mt-50">
                                <div class="col-md-4 order-md-2 offset-md-1 mb-xs-30">
                                    <div class="contatos">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="icon-container">
                                                    <i class="fas fa-phone"></i>
                                                </div>
                                                <div class="contato-container">
                                                    <h5>Nosso telefone</h5>
                                                    <p><a href="tel:+55{{contatos.telefone1}}" target="_blank">{{contatos.telefone1}}</a></p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="icon-container">
                                                    <i class="fab fa-whatsapp"></i>
                                                </div>
                                                <div class="contato-container">
                                                    <h5>Whatsapp</h5>
                                                    <p><a href="https://wa.me/{{contatos.whatsappLink}}" target="_blank">{{contatos.whatsapp}}</a></p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="icon-container">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                                <div class="contato-container">
                                                    <h5>E-mail</h5>
                                                    <p>
                                                        <a href="mailto:{{contatos.email}}" target="_blank">{{contatos.email}}</a><br>
                                                        <a href="mailto:{{contatos.email2}}" target="_blank">{{contatos.email2}}</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="icon-container">
                                                    <i class="far fa-clock"></i>
                                                </div>
                                                <div class="contato-container">
                                                    <h5>Horário de atendimento</h5>
                                                    <p>
                                                        Segunda à Sexta<br>
                                                        das 7:30 às 17:20
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-7 order-md-1">
                                    <div class="row">
                                        <div class="col-12 mb-15">
                                            <label>Seu Nome</label>
                                            <input type="text" class="form-control" ng-model="vm.dados.nome" required>
                                        </div>
                                        <div class="col-12 mb-15">
                                            <label>Seu Telefone</label>
                                            <input type="text" class="form-control" ng-model="vm.dados.telefone" ui-mask="(99) 9?9999-9999">
                                        </div>
                                        <div class="col-12 mb-15">
                                            <label>Seu E-mail</label>
                                            <input type="email" class="form-control" ng-model="vm.dados.email" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-15 mb-xs-50">
                                <div class="col-12 mb-15">
                                    <label>Sua mensagem</label>
                                    <textarea class="form-control" rows="6" ng-model="vm.dados.mensagem" required></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-principal btn-block-xs float-right">Enviar mensagem</button>
                                </div>
                            </div>

                            <div class="row mb-15">
                                <div class="col-12">
                                    <h5>Nossa localização</h5>
                                    <p><a href="{{contatos.maps}}" target="_blank">Rua {{contatos.rua}} {{contatos.numero}} - Bairro {{contatos.bairro}} - {{contatos.cidade}}/{{contatos.uf}} - CEP {{contatos.cep}}</a></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-15">
                                    <a href="" class="abrir" ng-click="vm.collapsed.map = !vm.collapsed.map">Abrir localização no mapa<i class="fas fa-chevron-down" ng-class="{'fa-chevron-up': !vm.collapsed.map}"></i></a>
                                </div>

                                <div class="col-12" uib-collapse="vm.collapsed.map">
                                    <iframe src="{{contatos.iframe | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>